@charset "utf-8";
*{padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px}
html{overflow-y:scroll}
a:link{color:#000000;text-decoration:none}
a:visited{color:#000000;text-decoration:none}
a:active{color:#3333ff;text-decoration:none}
a:hover{color:#ff0000;text-decoration:none}

.panel{background:#d6e4ef;color:#000000}
#expand_link{font-size:9pt;left:140px;position:absolute;top:11px;text-decoration:underline}
ul{padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px;list-style-type:none}
img{border-right:0px;border-top:0px;border-left:0px;width:16px;border-bottom:0px;height:16px}
#body{border-right:#154b76 1px solid;padding-right:5px;padding-left:5px;background:#70a4cf;padding-bottom:10px;border-left:#154b76 1px solid;padding-top:5px;position:relative;}
#menu{height: 300px;overflow-y: scroll;border-right:#246191 1px solid;border-top:#246191 1px solid;background:#ffffff;border-left:#246191 1px solid;border-bottom:medium none}
.u1{background:#ffffff;border-bottom:#246191 1px solid}
.l1,.l21,.l3,.l22{height:24px;line-height:24px;overflow:hidden;}
.l1 a:link{display:block;font-size:9pt;color:#476074;height:24px;text-decoration:none}
.l1 a:visited{display:block;font-size:9pt;color:#476074;height:24px;text-decoration:none}
.l1 a:link span{display:block;float:left;padding-right:0px;padding-left:16px;padding-bottom:0px;cursor:hand;}
.l1 a:visited span{padding-right:0px;padding-left:16px;padding-bottom:0px;vertical-align:middle;width:100%;cursor:hand;padding-top:7px;height:24px}
.l1 a:hover{font-weight:bold;color:#000000}
.l1 a.active:link{}
.l1 a.active:hover{}
.l1 a.active:active{}
.l1 a.active:visited{}
.l1 a.active:link span{font-weight:bold;color:#000000}
.l1 a.active:hover span{font-weight:bold;color:#000000}
.l1 a.active:active span{font-weight:bold;color:#000000}
.l1 a.active:visited span{font-weight:bold;color:#000000}
.l21 a:link{display:block;padding-left:13px;font-size:9pt;background:none transparent scroll repeat 0% 0%;color:#444659;height:24px;text-decoration:none}
.l21 a:visited{display:block;padding-left:13px;font-size:9pt;background:none transparent scroll repeat 0% 0%;color:#444659;height:24px;text-decoration:none}
.l22 a:link{display:block;padding-left:13px;font-size:9pt;background:none transparent scroll repeat 0% 0%;color:#444659;height:24px;text-decoration:none}
.l22 a:visited{display:block;padding-left:13px;font-size:9pt;background:none transparent scroll repeat 0% 0%;color:#444659;height:24px;text-decoration:none}
.l3 a:link{display:block;padding-left:13px;font-size:9pt;background:none transparent scroll repeat 0% 0%;color:#444659;height:24px;text-decoration:none}
.l3 a:visited{display:block;padding-left:13px;font-size:9pt;background:none transparent scroll repeat 0% 0%;color:#444659;height:24px;text-decoration:none}
.l21 a:link span{padding-right:0px;padding-left:16px;padding-bottom:0px;cursor:hand;}
.l21 a:visited span{padding-right:0px;padding-left:16px;padding-bottom:0px;vertical-align:middle;width:100%;cursor:hand;padding-top:7px}
.l22 a:link span{padding-right:0px;padding-left:16px;padding-bottom:0px;vertical-align:middle;cursor:hand;}
.l22 a:visited span{padding-right:0px;padding-left:16px;padding-bottom:0px;vertical-align:middle;width:100%;cursor:hand;padding-top:7px}
.l3 a:link span{padding-right:0px;padding-left:16px;padding-bottom:0px;vertical-align:middle;width:100%;cursor:hand;padding-top:7px}
.l3 a:visited span{padding-right:0px;padding-left:16px;padding-bottom:0px;vertical-align:middle;width:100%;cursor:hand;padding-top:7px}
.l22 a:link span{background:none transparent scroll repeat 0% 0%}
.l22 a:visited span{background:none transparent scroll repeat 0% 0%}
.l3 a:link span{background:none transparent scroll repeat 0% 0%}
.l3 a:visited span{background:none transparent scroll repeat 0% 0%}
.l21 a:hover{font-weight:bold;}
.l22 a:hover{font-weight:bold;}
.l3 a:hover{font-weight:bold;}
.l3 a:link span{padding-right:0px;padding-left:26px;padding-bottom:0px;padding-top:7px}
.l3 a:visited span{padding-right:0px;padding-left:26px;padding-bottom:0px;padding-top:7px}
.l21 a.active:link{background:none transparent scroll repeat 0% 0%}
.l21 a.active:hover{background:none transparent scroll repeat 0% 0%}
.l21 a.active:active{background:none transparent scroll repeat 0% 0%}
.l21 a.active:visited{background:none transparent scroll repeat 0% 0%}
.l21 a.active:link span{font-weight:bold;color:#000000}
.l21 a.active:hover span{font-weight:bold;color:#000000}
.l21 a.active:active span{font-weight:bold;color:#000000}
.l21 a.active:visited span{font-weight:bold;color:#000000}
.l22 a.active:link{}
.l22 a.active:hover{}
.l22 a.active:active{}
.l22 a.active:visited{}
.l3 a.active:link{}
.l3 a.active:hover{}
.l3 a.active:active{}
.l3 a.active:visited{}
.l22 a.active:link span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ccc}
.l22 a.active:hover span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ffffff}
.l22 a.active:active span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ffffff}
.l22 a.active:visited span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ffffff}
.l3 a.active:link span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ccc}
.l3 a.active:hover span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ffffff}
.l3 a.active:active span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ffffff}
.l3 a.active:visited span{font-weight:bold;background:none transparent scroll repeat 0% 0%;color:#ffffff}
.ls a:link{padding-right:4px;font-size:9pt;background:none transparent scroll repeat 0% 0%;padding-top:4px;height:20px;text-align:right;text-decoration:underline}
.ls a:visited{padding-right:4px;font-size:9pt;background:none transparent scroll repeat 0% 0%;padding-top:4px;height:20px;text-align:right;text-decoration:underline}
.ls a:hover{padding-right:4px;font-size:9pt;background:none transparent scroll repeat 0% 0%;padding-top:4px;height:20px;text-align:right;text-decoration:underline}
.ls a:active{padding-right:4px;font-size:9pt;background:none transparent scroll repeat 0% 0%;padding-top:4px;height:20px;text-align:right;text-decoration:underline}
#bottom{height:80px}