<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 通过user_id获取数据 -->
	<select id="queryUserinfo" parameterType="pd" resultType="User" useCache="false">
		SELECT USER_ID,USERNAME,PASSWORD,LAST_PASSWORD,NAME,LAST_LOGIN,IP,STATUS,REMARK,SEX,SKIN, 
			EMAIL,PHONE,PRIPID,MEMBER_ID,AREA_CODE FROM SYS_USER
			WHERE 1=1 AND STATUS = 0 
		<if test="user_Id != null and user_Id != ''">
			AND USER_ID = #{user_Id}
		</if>
		<if test="userName != null and userName != ''">
			AND USERNAME = #{userName}
		</if>
		<if test="phone != null and phone != ''">
			AND PHONE = #{phone}
		</if>
		<if test="email != null and email != ''">
			AND EMAIL = #{email}
		</if>
		<if test="password != null and password != ''">
			AND PASSWORD = #{password}
		</if>
	</select>

	<!-- 修改用户信息 -->
	<update id="updateUser" parameterType="pd" flushCache="false">
		UPDATE SYS_USER SET USER_ID=USER_ID
		<if test="userName != null and userName != ''">
			,USERNAME=#{userName}
		</if>
		<if test="password != null and password != ''">
			,PASSWORD=#{password}
		</if>
		<if test="last_Password != null and last_Password != ''">
			,LAST_PASSWORD=#{last_Password}
		</if>
		<if test="name != null and name != ''">
			,NAME=#{name}
		</if>
		<if test="last_Login != null and last_Login != ''">
			,LAST_LOGIN=#{last_Login}
		</if>
		<if test="ip != null and ip != ''">
			,IP=#{ip}
		</if>
		<if test="status != null and status != ''">
			,STATUS=#{status}
		</if>
		<if test="remark != null and remark != ''">
			,REMARK=#{remark}
		</if>
		<if test="sex != null and sex != ''">
			,SEX=#{sex}
		</if>
		<if test="skin != null and skin != ''">
			,SKIN=#{skin}
		</if>
		<if test="email != null and email != ''">
			,EMAIL=#{email}
		</if>
		<if test="phone != null and phone != ''">
			,PHONE=#{phone}
		</if>
		<if test="member_Id != null and member_Id != ''">
			,MEMBER_ID=#{member_Id}
		</if>
		<if test="area_Code != null and area_Code != ''">
			,AREA_CODE=#{area_Code}
		</if>
		WHERE USER_ID = #{user_Id}
	</update>
	
	<!-- 查询用户拥有的角色 -->
	<select id="queryRoleByUid" parameterType="pd" resultType="pd" useCache="false">
		select ur.*,r.ROLE_NAME,r.RIGHTS from sys_user_role ur 
			left join sys_role r on r.ROLE_ID = ur.ROLE_ID		
			where ur.USER_ID = #{uid}
	</select>
	
	<!-- 查询角色拥有的权限 -->
	<select id="queryAuthByRid" parameterType="pd" resultType="pd" useCache="false">
		select * from sys_menu where MENU_STATUS = 0 and MENU_ID in (${auth}) order by MENU_ORDER asc
	</select>
	
	<!-- 查询所有权限 -->
	<select id="queryAuth" resultType="pd" useCache="false">
		select * from sys_menu where MENU_STATUS = 0 order by MENU_ORDER asc
	</select>

	<!-- 判断用户名和密码 -->
	<select id="getUserInfo" parameterType="pd" resultType="pd" useCache="false">
		SELECT * FROM SYS_USER where 1=1
	</select>

	<!-- 查询单个用户信息 -->
	<select id="queryUser" parameterType="pd" resultType="pd" useCache="false">
		SELECT USER_ID,USERNAME,NAME,PASSWORD from sys_user where USER_ID = #{userid}
	</select>

	<update id="updateUserInfo" parameterType="pd" flushCache="false">
		UPDATE SYS_USER SET PASSWORD = #{PASSWORD},LAST_PASSWORD = #{oldPassword} WHERE USER_ID = #{ID}
	</update>

	<!-- 删除用户 -->
	<delete id="deleteU" parameterType="pd" flushCache="false">
		delete from SYS_USER where USER_ID = #{USER_ID}
	</delete>

	<!-- 批量删除用户 -->
	<delete id="deleteAllU" parameterType="String" flushCache="false">
		delete from SYS_USER where USER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>