<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CertificateMapper">

	<!-- 获取行政审批 -->
   <resultMap type="Map" id="getCertificate">  
    </resultMap>
	<select id="queryCertificateInfo" resultMap="getCertificate,getCertificate" useCache="false" 
	 statementType="CALLABLE" parameterType="pd">
	  CALL SP_Query_Certificateinfo(#{pripid},#{priptype})
	</select>
</mapper>