<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HonorMapper">

	<!-- 获取商标信息 分页 -->
	<select id="getHonorinfolistPage" parameterType="page" resultType="pd">
       		 SELECT ENTNAME,HONORID,HONORNAME,HONORCONTENT,ORGAN,ANNUAL,C_UNIQUE_CODE FROM ZR_HONORINFO H
       		 where H.DELETEMARK=0
	     <if test="pd.pripid != null and pd.pripid != ''">
	      AND H.PRIPID=#{pd.pripid}
	     </if>
     </select>
     
    <!-- 获取荣誉信息  不分页 	 -->
	<select id="getHonorinfo" parameterType="pd" resultType="pd">
      		SELECT ENTNAME,HONORID,HONORNAME,HONORCONTENT,ORGAN,ANNUAL,C_UNIQUE_CODE FROM ZR_HONORINFO H
        	where H.DELETEMARK=0
	     <if test="pripid != null and pripid != ''">
	     	 AND H.PRIPID=#{pripid}
	     </if>
	</select>
	
</mapper>